<h1><%= "Stupid Coaching" %></h1>
<h3 id="question"><%= @question %></h3>
<p id="me"><%= "-You" %></p>
<h3 id="answer"><%= @answer %></h3>
<p id="coach"><%= "-Coach" %></p>
<%= link_to "ask a new question", ask_path %>

